body {
	
	background-position: top center;
	background-repeat: no-repeat;
	padding-top: 10%;
	background-color: #A4A4A4;
}
form {
	width: 500px;
	margin: auto;
	text-align: center;
}

/* INICIAR SESION */
legend{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: lighter;
	color: #FFFFFF;
	text-shadow:1px 1px 0px #000000;
	margin: auto;
}
input{
	height: 40px;
	border-radius: 10px;
	border: 0;
	margin: 6px;
	transition: all 1s;
}
input[type=text], input[type=password]{
	width: 280px;
	background-color: rgba(253,253,253,0.2);
	/*color de texto*/
	color: #000000;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 18px;
	/*text-shadow:1px 1px 0px #000000;*/
	font-weight: lighter;
	/*color de borde*/
	border:1px solid rgba(255,255,255,0.5);
	box-shadow: 0px 1px 4px -1px #FFF inset;
	padding-left: 20px;
}

input[type=text]:hover, input[type=password]:hover{
	background-color: rgba(253,253,253,0.4);
	cursor: pointer;
}

input[type=submit]{
	width: 300px;
	/* Linea superior */
	-moz-box-shadow:inset 0px 2px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 2px 0px 0px #a4e271;
	box-shadow:inset 0px 2px 0px 0px #a4e271;
	/*color de fondo degradado*/
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );	
	background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
	/*color de fondo si falla */
	background-color:#89c403;
	/*color de borde*/
	border:1px solid #74b807;
	/*color de texto*/
	color:#ffffff;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 20px;
	text-shadow:1px 1px 0px #528009;
}

input[type=submit]:hover{
	/*color de fondo degradado*/
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );	
	background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
}
.credits{
	margin-top: 20px;
	color: rgba(51,51,51,1);
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 12px;
}